@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Slate 900 */
}

.dark {
  --background: #0f172a; /* Slate 900 */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}