@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 배경색 지정 (다크모드 전환 시 부드럽게) */
body {
  @apply bg-white text-slate-900 transition-colors duration-300;
}

/* 다크모드일 때 기본 스타일 */
.dark body {
  @apply bg-slate-900 text-white;
}